@font-face { 
    font-family: Handwritting;
    src: url('Myfont-Regular.otf');
}

html {
    background-image: url(letter-background.jpg);
    background-size: cover;
    background-size: 100% 100vh;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.body-div {
    position: relative;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.sign-in {
    position: absolute;
    margin: 20px;
    text-align: center;
    transform: rotate(-90deg);
}

.sign-in p {
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: bold;
}

.letter-form {  
    display: block;
    padding: 0 3rem;
    width: 50em; 
    max-width: 800px;
    height: 55em;
    margin: auto;
    border: 40px solid pink;
    background-color: white;
    overflow-y: scroll;
}

.letter-form p {
    font-family: Handwritting, 'Avenir', sans-serif;
    font-size: 20px;
    width: 50em;
    max-width: 800px;
}

a {
    color: pink;
}

p .sign-off {
    width: 400px;
    display: inline;
    float: left;
}

div .cute-octo {
    width: 400px;
    display: inline;
    float: right;
}
 
div .cute-octo img {
    display: block;
    width: 100%;
}
